
.gallery h2{
    padding: 1.875rem 0 1.875rem 0;
    background-color: #213f3f;
    color: #FFFFFF;
    text-align: center;
  }

  .gallery h3{
    text-align:center;
  }

.album{
    margin-top:5rem;
}


  .album-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 20px;
    max-width:900px;
    margin: 2em auto;
 
  }
  
  .album-item img {
    width: 100%;
    height: auto;
    max-height:15vh;
    display: block;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .album-item img:hover {
    transform: scale(1.03);
  }
  
  /* Modal Styles */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: zoom-out;
  }
  
  .modal-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
  }

  .gallery-vid{
    margin-top:10rem;
  }

